.button {
  #font > .uppercase;
  background-color: @violet;
  color: @color-inverse;
  display: inline-block;
  font-size: .85em;
  padding: .75em 2em;

  &:active,
  &:focus,
  &:hover {
    color: @color-inverse;
  }
}

.header(@main: h1, @c: @header, @bgc: @content-bg) {
  @{main} {
    color: @c;

    &:before {
      #border > .top(@bc: @c);
      content: ' ';
      display: block;
      margin-bottom: -.5em;
    }

    span {
      background-color: @bgc;
      display: inline-block;
      padding-left: 2em;
      padding-right: 2em;
    }
  }
}

.vp {
  &-mx {}

  &-lg,
  &-md {
    .button {
      font-size: .65em;
    }
  }

  &-md {}
}