//xs (phones), sm (tablets), md (desktops), and lg (larger desktops)
// Colors
@white:                     #fff;
@black:                     #000;
@grey-dark:                 #333;
@grey:                      #999;
@grey-light:                #bbb;
@grey-lighter:              #ebebeb;
@grey-light-ultra:          #f1f1f1;
@grey-light-ultra-ultra:    #f9f9f9;
@green:                     #00e13d;
@gold:                      #ffd700;
@red:                       #a02133;
@red-light:                 #dc0000;
@red-dark:                  #500001;
@blue-dark:                 #0070c6;
@blue:                      #2facfb;  //47, 172, 251
@blue-bright:               darken(@blue, 10%);
@blue-light:                #66c4ff;
@orange:                    #f8931f;
@violet:                    #af2ff9;
@yellow:                    #eac55a;

// Base path
@path:                      'D:/OS/domains/iDeal/';
@url:                       '/wp-content/themes/almalence/assets/';
@url-images:                '@{url}images/';
@icon-lib:                  '@{path}dev/libs/fontawesome-5.4.1/less/_variables.less';
@less-lib:                  '@{path}dev/less/';

// Typography
@font-family:               OpenSans-Regular, Arial, Tahoma, Segoe, sans-serif;
@font-family-bold:          Quicksand-Bold, Arial, Tahoma, Segoe, sans-serif;
@font-family-medium:        Quicksand-Regular, Arial, Tahoma, Segoe, sans-serif;
@font-family-alt:           Georgia, "Times New Roman", Times, serif;
@font-family-light:         OpenSans-Light, Arial, Tahoma, Segoe, sans-serif;
@font-family-mono:          Monaco, Menlo, Consolas, monospace;
@font-family-header:        Quicksand-Medium, Arial, Tahoma, Segoe, sans-serif;
@font-family-icon:          FontAwesome;
@font-icon:                 normal normal 1em/1 @font-family-icon;
@font-family-icon-alt:      FontAwesome-Alt;
@font-icon-alt:             normal normal 1em/1 @font-family-icon-alt;
@font-family-icon-brands:   FontAwesome-Brands;
@font-icon-brands:          normal normal 1em/1 @font-family-icon-brands;
@font-size:                 22px;
@font-style:                normal;
@font-weight:               400;
@line-height:               1.5em;

// Sizes
@radius:                    4px;

// Type
@color:                     @grey-dark;
@color-semi:                @grey-light;
@color-active:              @blue;
@color-active-dark:         @blue-dark;
@color-attention:           @orange;
@color-disabled:            @grey-light-ultra;
@color-inverse:             @white;
@color-success:             @green;
@color-warning:             @red-light;
@header:                    @color;
@header-active:             @color-active;
@header-attention:          @color-attention;
@header-disabled:           @color-disabled;
@header-success:            @color-success;
@header-warning:            @color-warning;
@link:                      @blue;
@link-active:               @blue-bright;
@link-hover:                @blue-bright;
@link-inverse:              @white;
@link-visited:              @link;

// Background
@bg-active:                 @color-active;
@bg-attention:              @orange;
@bg-disabled:               @grey-lighter;
@bg-grey:                   @grey-lighter;
@bg-inverse:                @color-inverse;
@bg-hover:                  @grey-lighter;
@bg-semi:                   @grey-light;
@bg-success:                @green;
@bg-waiting:                @grey-lighter;
@bg-warning:                @red;

// Form
@form-bg:                   transparent;
@form-bg-active:            @bg-active;
@form-bg-attention:         @bg-attention;
@form-bg-success:           @bg-success;
@form-bg-waiting:           @bg-waiting;
@form-bg-warning:           @bg-warning;
@form-block-margin:         1em;
@form-border:               0;
@form-border-active:        @border @color-active;
@form-border-focus:         @border @color-active;
@form-color:                lighten(@color, 20%);
@form-color-attention:      @color-attention;
@form-color-active:         darken(@color-active, 30%);
@form-font-size:            1em;
@form-line-height:          1em;
@form-padding:              0;
@form-placeholder:          @color-semi;
@button-border:             0;
@button-bg:                 @blue;
@button-color:              @white;
@button-radius:             0;
@input-bg:                  @white;
@input-padding:             .5em 1em;
@input-border:              @border @color-semi;
@select-padding:            .55em .5em;

// General
@body-bg-color:             @white;
@body-bg:                   @body-bg-color;// url("@{url-images}bg-body.jpg") center bottom no-repeat;
@body-margin:               0;
@border:                    1px solid;
@border-color:              @grey-light;
@content-padding:           @col-padding;
@content-bg:                @body-bg-color; //url(@{url-images}content-bg.png) center bottom no-repeat;
@text-shadow:               1px 1px 0;
@shadow-color:              .1em.1em 0 @color-semi;
@shadow:                    -2px 5px 5px rgba(0, 0, 0, .25);

// Modal
@modal-bg:                  @body-bg-color;
@modal-border:              @border @border-color;
@modal-display:             block;
@modal-height:              auto;
@modal-max-height:          none;
@modal-opacity:             1;
@modal-overflow:            hidden;
@modal-padding:             0;
@modal-radius:              0;
@modal-shadow:              none;
@modal-visibility:          visible;
@modal-width:               auto;
@modal-screen-bg:           @body-bg-color;
@modal-screen-opacity:      .9;

// Grids
@screen-xs:                 320px;
@screen-xs-max:             479px;
@screen-min:                480px;
@screen-sm:                 640px;
@screen-sm-max:             767px;
@screen-md:                 768px;
@screen-md-max:             959px;
@screen-lg:                 960px;
@screen-lg-max:             1279px;
@screen-mx:                 1280px;
@grid-columns:              12;
@grid-containers:           ~'.container';
@col-list:                  sm, md, lg, mx;
@col-padding:               15px;

// Tables

@table-border:              0;
@table-background:          transparent;
@table-collapse:            collapse;
@table-spacing:             0;
@table-td-background:       transparent;
@table-td-border:           @border @border-color;
@table-td-padding:          1em;

// Nav
@nav-color:                 @link;
@nav-hover:                 @link-hover;
@nav-bg:                    transparent;
@nav-li-bg:                 transparent;
@nav-li-bg-hover:           transparent;

// Icons
@a-icon-list-lib:
bars,
times,
search,
chevron-up,
chevron-down;

@a-icon-list-prod:
bars,
close,
search,
view-less,
view-more;

@icon-list-lib:
arrow-down,
arrow-left,
arrow-right,
arrow-up,
chevron-down,
chevron-left,
chevron-right,
chevron-up,
envelope,
link,
list,
search,
sitemap,
spinner,
tags,
times,
times-circle;

@icon-list-prod:
arrow-down,
arrow-left,
arrow-right,
arrow-up,
chevron-down,
chevron-left,
chevron-right,
chevron-up,
envelope,
link,
list,
search,
sitemap,
spinner,
tags,
times,
times-circle;

@icon-list-lib-alt:
check-circle;

@icon-list-prod-alt:
check-circle;

@icon-list-lib-brands:
facebook-square,
linkedin,
pinterest-square,
twitter-square,
vimeo;

@icon-list-prod-brands:
facebook,
linkedin,
pinterest,
twitter,
vimeo;

@transition-duration: .5s;
@transition-property: color;
@transition-delay:    0;
@transition-speed: .25s;

@z-index-modal-dialog: 1000;
@z-index-modal-screen: 999;