@import "_variables";
@import "@{less-lib}_libs";
@import "@{less-lib}lib\scaffolding";
@import "_plugins";
@import "_utils";

@header-bg: @body-bg;

.active-set(@display: inherit) {
  .hide;

  &.active {
    .visible(@display);
  }
}

.loader-set('.loader');

.slider-set-hero() {
  .slider {
    height: 100%;
    max-height: 400px;
    overflow-y: unset;
    //max-width: @screen-md-max;
    z-index: 1;

    .next, .prev {
      a {
        .btn-angle(@color-active, 2px solid, .75em);
        //.scale(~'.75, 1');
        &:before {
          top: 55%;
        }

        &:hover {
          color: @color-active;
        }
      }
    }
    .next {
      a {
        right: -7px;

        &:before {
          .rotate(45deg);
          right: 18px;
        }
      }
    }
    .prev {
      a {
        left: -7px;

        &:before {
          .rotate(-135deg);
          left: 18px;
        }
      }
    }

    .a-view-more {
      .abs > .bottom > .left(@bottom: 3.5em);
      .btn(@color-active);
      color: @header;
      display: inline-block;
      padding: .25em .5em .25em 10em;
    }

    .list {
      &, & li {
        height: 100%;
      }

      li {
        padding-left: 2em;
        padding-right: 2em;
      }
    }

    div {
      display: block;
    }

    .inner {
      .pos;
      height: 100%;
    }

    .thumbnail {
      #block > .cover;
      .box-shadow(0 0 0 15px inset rgba(0, 0, 0, .2));
      .circle;
      .pos;
      float: left;
      left: auto;
      right: auto;
    }

    header {
      /*#fader > .default;
      #fader > .right(@height: 100%, @width: 3em);*/
      .pos;
    }

    h2 {
      #border > .left(@color-active, 2px solid);
      font-size: 1.5em;
      line-height: 1.25em;
      margin: 0;
      padding-left: 1em;
      text-align: left;
      text-transform: capitalize;
      white-space: nowrap;
    }

    .body {
      /*#fader > .default;
      #fader > .bottom;*/
      color: #888;
      font-family: @font-family-light;
      //color: #999;
      font-size: .85em;
      height: 7.5em;
      margin-top: 3.5em;
      overflow: hidden;
      text-align: left;
      vertical-align: top;

      p {
        margin: 0;
      }
    }
  }
}

.spinner-set(@c: @color-semi) {
  .icon;
  .animation(spinner 1s linear 0s infinite normal forwards);
  color: @c;
  content: @fa-var-spinner;
  font-size: 2em;
}

.waiting-set() {
  &.waiting{
    .pos;
    display: block;
    height: 2em;
    margin-top: 2em;

    &:before {
      .abs > .center;
      .size(1em);
      .spinner-set;
    }
  }
}

.btn-angle(@c: @border-color, @border: 2px solid, @size: 2em){
  &:before {
    #border > .right(@c, @border);
    #border > .top(@c, @border);
    .size(@size);
    content: '';
    display: block;
  }
}

.btn(@c: @border-color, @border: 2px solid){
  //#border > .rails(@c, @border);
  .btn-angle(@c, @border);
  line-height: 1.25em;
  text-transform: capitalize;

  &:before {
    .abs > .right(-1em, -.125em);
    .rotate(45deg);
  }
}

#form > .default;
#grid > .grey;

a {
  #a > .grey;
  #a > .clear;
}
[class^="a-"] {
  span {
    margin-left: .5em;
  }
}

figure {
  background-color: @bg-grey;
}

h1, h2, h3 {
  font-weight: 400;
  //text-transform: uppercase;
}
h1 {
  font-size: 2em;
  margin: 1.5em auto;
  text-align: center;

  select {
    font-size: .5em;
    padding: .5em 1em;
    width: auto;
  }

  .a-view-more {
    .display > .active;
    font-size: .5em;
    margin-top: .5em;

    &:before {
      margin-right: .25em;
    }
  }

  span {
    //color: @color-semi;
    display: inherit;
    font-family: @font-family;
    font-size: .4em;
    margin-top: .5em;
  }
}
h2 {
  font-size: 1.5em;
  margin: 1em 0;
}
h3 {
  font-size: 1.25em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1em 0;
}

article {
  h1 {
    text-align: left;
  }
}

.list,
[class^="list-"],
nav ul {
  #ul > .default;
}

html, body {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  overflow: visible;
}

main {
  margin: 0;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
}

header.header {
  .transition;
  background-color: @header-bg;
  //height: 11em;
  text-align: center;
  z-index: 100;

  .container {
    .pos;
    z-index: 2;
  }

  .logo {
    margin: 2em auto 0 auto;
    max-width: 17em;
    text-align: right;
    width: 90%;

    &-img {
      width: 32%;
    }

    &-title {
      margin-top: 1.25em;
    }
  }
}

footer.footer {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  font-size: .7em;
  margin-top: 4em;
  padding: 2em 0;
  text-align: center;

  .logo {
    margin-bottom: -1.45em;

    &-img {
      float: right;
      width: 4em;
    }

    &-title {
      margin-right: .75em;
      margin-top: .75em;

      &-motto {
        .hide;
      }
      &-name {
        font-size: 1em;
      }
    }
  }
}

.logo {
  color: @color!important;
  display: inline-block;

  &-title {
    .user-select;
    float: left;
    text-align: right;

    &-name {
      font-size: 2em;
    }

    &-motto {
      display: block;
      font-size: .5em;
      line-height: 1em;
    }
  }
}

.nav {
  &-footer {
    &, ul, li {
      #ul > .inline;
    }

    li {
      &:not(:last-child) {
        #border > .right;
        margin-right: 1em;
        padding-right: 1em;
      }
    }
  }

  &-main {
    //#border > .rails(@color-active);
    .pos;
    text-align: center;
    z-index: 1;

    .a-bars {
      .active-set(inline-block);
      width: 20px;

      &:before {
        .pos;
        top: 2px;
      }
    }

    .container {
      margin: 0 auto;
      overflow: hidden;
    }

    .ul {
      &-dummy,
      &-main {
        li {
          #ul > .inline;
          .pos;

          &:first-child {
            padding-left: 0;

            &:before {
              .hide;
            }
          }

          &:not(:first-child) {
            &:before {
              margin-left: -6em;
            }
          }
        }
      }

      &-main {
        #ul > .inline;
        .pos > .center;
      }

      &-helper {
        .hide;
        background-color: @header-bg;
        padding-bottom: .5em;
        padding-top: .5em;
        text-align: left;
      }

      &-dummy {
        .abs > .right(-9999px);
      }
    }

    li {
      padding-left: 1.25em;
      padding-right: 1.25em;

      a {
        white-space: nowrap;
      }
    }

    &.active {
      .a-bars {
        &:before {
          content: @fa-var-times;
        }
      }
      .ul-helper {
        .visible;
      }
    }
  }

  &-post {
    .pos;
    margin-top: 1.5em;
    overflow: hidden;
    text-align: center;

    footer,
    header {
      display: inline-block;
      margin: auto;

      article {
        .size(16em, 10em);
        text-align: left;

        &:not(:first-child) {
          margin-left: 1em;
        }

        header {
          .pos;
          min-height: 2.5em;

          &:after,
          &:before {
            #border > .top(@color-active, 2px solid);
            .size(1.5em);
            content: '';
            display: block;
          }

          &:after {
            #border > .right(@color-active, 2px solid);
            .abs > .right;
          }

          &:before {
            #border > .left(@color-active, 2px solid);
            .abs > .left;
          }
        }

        h2 {
          .abs > .bottom > .left;
          #border > .left(@color-active, 5px solid);
          .rgba(@black, 50%);
          color: @color-inverse;
          font-size: 1em;
          line-height: 1.35em;
          margin: .5em 0;
          padding: .5em 1em;
          width: 100%;
        }

        .thumbnail {
          #block > .cover;
          .size(16em, 10em);
        }
      }
    }

    header {
      article {
        float: left;
      }
    }

    nav {
      .pos;
      margin-bottom: 1.5em;

      a {
        .pos;

        &:before {
          .abs;
        }

        &.a {
          &-prev {
            &:before {
              bottom: 1px;
              content: @fa-var-chevron-left;
              left: -1.5em;
            }
          }

          &-topic {
            &:before {
              bottom: -1.25em;
              content: @fa-var-chevron-down;
              left: 0;
              margin-right: -.5em;
              right: 0;
            }
          }

          &-next {
            &:before {
              bottom: 1px;
              content: @fa-var-chevron-right;
              right: -1.25em;
            }
          }
        }

        &:not(:first-child) {
          #border > .left;
          margin-left: .5em;
          padding-left: .5em;
        }
      }
    }
  }

  &-sitemap {
    > ul {
      > li {
        &:not(:last-child) {
          margin-bottom: 2em;
        }

        ul {
          li {
            margin-bottom: .5em;
            padding-left: 28px;

            &:before {
              .icon-alt;
              .pos > .left(@top: -5px);
              color: @color-semi;
              content: @fa-var-circle;
              display: inline-block;
              font-size: 7px;
              margin-left: -31px;
              margin-right: 24px;
            }
          }
        }
      }
    }

    a {
      color: inherit;
    }
  }

  &-services {
    overflow: hidden;

    li {
      display: block;
      float: left;
      text-align: center;
      width: 32%;

      &:not(:last-child) {
        margin-right: 2%;
      }
    }

    i {
      font-size: 3em;
      display: block;
      margin-bottom: .5em;
    }
  }
}

// Gallery
gallery {
  .hide;
}
.gallery {
  .pos;
  background-color: @grey-light-ultra-ultra;
  margin: 2em 0;
  padding: 1em 0;
  text-align: center;

  img {
    width: 100%;
  }

  .g {
    &-cont {
      .pos > .center;
      overflow: hidden;

      &.waiting {
        visibility: hidden;
      }
    }
  }

  &.g-t{
    .border(@color-inverse);

    &-b-a,
    &-b-a-slider,
    &-b-a-combo {
      .g {
        &-after {
          z-index: 1;
        }

        &-before {
          .abs;
          .transition;
          opacity: 0;
          z-index: 2;

          &.active {
            opacity: 1;
          }
        }

        &-toggle {
          .abs > .center;
          text-align: center;
          top: .5em;
          width: 230px;
          z-index: 3;

          .toggle {
            .pos;
            font-size: 12px;
            line-height: 1.75em;
            overflow: hidden;
          }

          .link {
            &-after,
            &-before {
              .size(100px, 21px);
              background-color: @color-inverse;

              &.active {
                text-decoration: underline;
              }
            }
            &-after {
              #radius > .right;
              float: right;
            }
            &-before {
              #radius > .left;
              float: left;
            }
          }

          .i-icon {
            .size(30px, 21px);
            background-color: @bg-active;
            display: inline-block;

            &:before {
              content: @fa-var-exchange-alt;
              color: @color-inverse;
              display: inline-block;
              font-size: 1.35em;
              margin-top: 2px;
            }
          }
        }

        &-slider {
          #border > .gate(@color-inverse);
          .pos;
          height: 16px;
          margin: auto;

          &:before {
            .abs > .bottom > .center(8px);
            #border > .bottom(@color-inverse);
            .size;
            content: '';
            display: block;
          }

          &-thumb {
            .abs;
            .pointer;
            .radius;
            background-color: @bg-inverse;
            display: inline-block;
            font-size: 9px;
            line-height: 18px;
            margin-left: -19px;
            margin-top: -2px;
            text-align: center;
            width: 30px;
          }
        }
      }
    }
    &-b-a-combo {
      .g-slider {
        margin-top: .5em;
      }
    }

    &-slider {
      .g {
        &-cont {
          &.active {
            .g {
              &-cover {
                .rgba(@color-inverse, .35, border-color);
              }
              &-slider-thumb {
                opacity: 0;
              }
            }
          }
        }

        &-slider-thumb {
          .abs;
          .circle;
          .size(2em);
          .transition(opacity @transition-speed);
          background-color: @color-inverse;
          cursor: ew-resize;
          z-index: 3;

          .i-icon {
            &:after,
            &:before {
              .icon;
              margin-top: .5em;
            }
            &:after {
              content: @fa-var-angle-right;
              margin-left: .125em;
            }
            &:before {
              content: @fa-var-angle-left;
              margin-right: .125em;
            }
          }
        }

        &-cover {
          .abs;
          #border > .right(@color-inverse);
          z-index: 2;
          overflow: hidden;
        }

        &-under-cover {
          .abs;
          z-index: 1;
        }
      }
    }
  }
}

// Topics
.post {
  &-cats,
  &-tags {
    font-size: 12px;
    line-height: 1.25em;
    margin-bottom: .5em;
    padding-left: 1.75em;

    i {
      margin-left: -1.75em;
      margin-right: .5em;
    }

    ul {
      display: inline;

      li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: .5em;

          &:after{
            content: ',';
          }
        }
      }
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-share {
    float: right;
    margin-left: 1em;

    i {
      .transition;
      color: @grey-light;
      font-size: .75em;
      padding: .125em;
    }

    a {
      &:hover {
        i {
          color: @color-active;
          font-size: .85em;
          padding: .06em;
        }
      }
    }
  }

  &-content,
  &-excerpt {
    p {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &-excerpt {
    overflow: hidden;
  }
}

[class^=topic-pins-] {
  margin-top: 1em;
  overflow: hidden;

  .container {
    padding-top: 1em;
  }

  article {
    margin-bottom: 1em;
  }

  header {
    .pos;
    min-height: 2.5em;

    &:after,
    &:before {
      #border > .top(@color-active, 2px solid);
      .size(1.5em);
      content: '';
      display: block;
    }

    &:after {
      .abs > .right;
      #border > .right(@color-active, 2px solid);
    }

    &:before {
      .abs > .left;
      #border > .left(@color-active, 2px solid);
    }
  }

  img {
    display: block;
  }

  h2 {
    .abs > .bottom > .left;
    #border > .left(@color-active, 5px solid);
    .rgba(@black, 50%);
    color: @color-inverse;
    font-size: 1em;
    line-height: 1.35em;
    margin: .5em 0;
    padding: .5em 1em;
    width: 100%;
  }

  time {
    .abs > .right;
    .rgba(@color-active, 75%);
    color: @color-inverse;
    font-size: .7em;
    padding: 0 .5em;
  }

  .body {
    .pos;
    overflow: hidden;
  }

  .read-more {
    color: @color!important;
  }
}

[class^=topic-excerpt] {
  .pos;
  .size(100%, auto);
  margin-top: 2em;
  overflow: hidden;

  .bg {
    #block > .cover;
    .abs > .middle(@right: -10%, @left: -10%);
    .size(120%);
    .filter(blur(10px));
  }

  .container {
    .pos;
  }

  .inner {
    .rgba(@black, 50%);
  }

  header {
    .transition;

    .list {
      li {
        @c: darken(@color-inverse, 20);
        #ul > .inline;
        font-size: .8em;

        &:not(:last-child) {
          #border > .right(@c);
          margin-right: 1em;
          padding-right: 1em;
        }

        &, a {
          color: @c;
        }

        [class^="a-"] {
          &:before {
            margin-right: .5em;
          }
        }
      }
    }
  }

  h1 {
    #border > .left(@color-active, 5px solid);
    color: @color-inverse;
    line-height: 1.35em;
    margin: 0;
    overflow: hidden;
    padding-left: 1em;
  }

  .body {
    color: @color-inverse;
    line-height: 1.5em;
  }
}

.topic {
  &-excerpt,
  &-content {
    .thumbnail {
      #block > .cover;
    }
  }

  &-excerpt {
    .body {
      overflow: hidden;
    }

    nav {
      .abs > .bottom > .right(1em, 1em);

      li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: .75em;
        }
      }

      a {
        .circle;
        .size(3em);
        .transition;
        background-color: @bg-active;
        color: @color-inverse;
        padding-top: .75em;
        text-align: center;

        &:hover {
          .box-shadow(0 0 0 .35em rgba(47, 172, 251, .25));

          &.a-share {
            &:before {
              .animation(enlarge .4s linear 2s normal none infinite running);
            }
          }

          &.a-subscribe {
            .animation(shake .2s linear 2s normal none infinite running);
          }
        }
      }
    }

    .a-view-more {
      float: right;
      font-size: .75em;
      margin-top: -1.25em;
      text-transform: uppercase;

      &:before {
        margin-right: .75em;
      }
    }

    .i-waiting {
      .hide;
      .size(2em);
      margin: auto;

      &:before {
        .spinner-set(@color-inverse);
      }
    }

    &.active {
      padding-bottom: 0!important;

      .inner {
        padding-bottom: 2em!important;
        text-align: center;
      }

      header {
        text-align: left;
      }

      .thumbnail {
        .box-shadow(0 0 0 10px inset rgba(0, 0, 0, .2));
        .pos;
        .transition;
        z-index: 1;
      }

      .a-view-more {
        .hide;
      }

      .i-waiting {
        .hide;
      }
    }

    &.waiting {
      .a-view-more {
        .hide;
      }

      .i-waiting {
        .visible;
      }
    }

    &-open {
      header {
        margin-bottom: 1.75em;
      }
    }
  }

  &-content {
    &:not(:empty) {
      .pos;
      text-align: center;

      .container {
        background-color: @grey-lighter;
        text-align: left;
      }
    }

    .a-view-less {
      .abs > .center;
      .rotate(45deg);
      .size(1.5em);
      background-color: @grey-lighter;
      padding: 0 6px;
      z-index: 1;

      &:before {
        .rotate(-45deg);
      }
    }
  }
}

.container {
  margin: auto;
}

i {
  color: @color-semi;
}

.watch-mark {
  .waiting-set;
}

.list-articles {
  article {
    .pos;
    overflow: hidden;

    &.active {
      .body {
        figure{
          .size(0);
          margin: 0;
        }
      }

      .a {
        &-view {
          &-less {
            .visible(inline-block);
          }
          &-more {
            .hide;
          }
        }
      }
    }

    &.waiting {
      .a-view-more {
        .hide;
      }

      .i-waiting {
        .visible(inline-block);
      }
    }
  }

  .body {
    &:not(.active) {
      overflow: hidden;
    }
  }

  header {
    margin-bottom: 1em;
    overflow: hidden;
  }

  .thumbnail {
    #block > .cover;
    .transition;
    margin-bottom: 1em;
    overflow: hidden;
  }

  time {
    background-color: @color-active;
    color: @color-inverse;
    display: inline-block;
    font-size: .8em;
    padding: 0 .5em;
  }

  img {
    display: block;
  }

  h2 {
    #border > .left(@color-active, 2px solid);
    line-height: 1.35em;
    margin: 0 0 1em 0;
  }

  .view-more {
    display: block;
    font-size: .6em;
    text-align: center;

    &:before {
      .pos > .bottom(-1.25em);
      border-bottom: 1px dashed @color-semi;
      content: '';
      display: block;
      z-index: -1;
    }

    a, .i-waiting {
      background-color: @body-bg-color;
      display: inline-block;
      padding: 0 1em;
    }

    .i-waiting {
      .hide;

      &:before {
        .spinner-set;
      }
    }

    .a {
      &-view {
        &-less,
        &-more {
          &:before {
            margin-right: .5em;
          }
        }
        &-less {
          .hide;
        }
      }
    }
  }
}

.list {
  h2 {
    text-align: left;
  }

  &-i-t-6 {
    margin-top: 2em;

    li {
      margin-bottom: 5em;
      overflow: hidden;

      p {
        &:nth-child(2) {
          margin-top: 0;
        }
      }
    }
  }

  &-tags {
    .border;
    padding: 1em;

    li {
      #ul > .inline;

      &:not(:last-child) {
        margin-right: 1em;

        &:after {
          content: ',';
        }
      }
    }
  }

  &-cats {
    display: inline-block;
    margin: auto;
    text-align: left;
  }
}

.tags {
  &-container {
    .waiting-set;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-label {
    .border;
    border-bottom: 0;
    color: @color-semi;
    display: inline-block;
    padding: .25em 1em;

    i {
      margin-right: .25em;
    }
  }
}

// Sections
section {
  margin-bottom: 4em;
  overflow: hidden;

  .container {
    margin: auto;
    padding: 0 1em;
  }

  h2 {
    margin: 0 auto 1em auto;
    text-align: center;
  }

  h3 {
    #border > .left(@color-active, 3px solid);
    line-height: 1.35em;
    margin: 0 0 1em 0;
    padding: .5em 1em;
  }
}
#s {
  &-hero {
    .pos;
    margin-bottom: 0;

    &:before{
      @c: @grey-light;
      .abs > .center;
      #gradient > .vertical(rgba(red(@c), green(@c), blue(@c), .25), rgba(red(@c), green(@c), blue(@c), 0));
      .size(100%, 50%);
      content: '';
      display: block;
    }

    .p {
      &-1,
      &-2 {
        .abs;
        .size(100%, 50%);
        left: 0;
        margin: auto;
        right: 0;
        text-align: center;
      }

      &-1 {
        top: 0;
      }

      &-2 {
        bottom: 5em;

        &:after{
          .abs > .center(5.5em);
          background-color: @grey-light-ultra;
          content: '';
          display: block;
          width: 100%;
        }

        .container {
          .abs > .middle;
        }

        .slider-set-hero;
      }
    }

    .press {
      .abs > .bottom > .left(15%, 30%);
      .size(50%, 3.5em);
      padding-left: 3.75em;

      &:before {
        .abs > .left;
        #border > .right;
        .icon;
        color: @grey-light;
        content: @fa-var-globe;
        font-size: 2.5em;
        padding: .25em .5em .25em 0;
      }

      .slider {
        font-size: .75em;
        max-height: 4.5em;
        margin-top: .5em;
        padding: 0 0 0 2em;

        &, & .list {
          height: 4.5em;
        }

        li {
          text-align: left;
          vertical-align: top;
          padding-right: 2em;
        }

        h4 {
          color: @grey-dark;
          margin: 0 0 .5em 0;
        }

        .body {
          color: #888;
          font-family: @font-family-light;
          //font-style: italic;
          line-height: 1.5em;

          p {
            margin: 0;
          }
        }
      }
    }

    .social {
      .abs > .left(2.5em, 2.5em);
      z-index: 1;

      a {
        display: block;
        font-size: 1.5em;
        margin-bottom: .25em;
      }
    }

    .about-company {
      .abs > .right(1.5em, 11em);
      .btn(@red);
      color: @header!important;
      padding: .25em .5em .25em 1em;
      z-index: 1;

      &-bg {
        .hide;
        .abs > .bottom > .right(1.25em, 4.5em);
        .rotate(90deg);
        opacity: .5;
        z-index: 0;

        .inner {
          transform: scale3d(.25, 2, .2);
        }
        img {
          .animation(spinner 50s linear 0s infinite normal forwards);
          .filter(brightness(2));
          width: 240px;
        }
      }
    }

    .deco {
      .abs > .left(50%, 6em);
      #block > .cover;
      .hide;
      .size(611px, 718px);
      //background-image: url("@{url-images}deco-1.svg");
      margin-left: 10em;
    }

    .p-2 {
      .bg {
        .pos > .right(-10em);
        .size(100%, 12.75em);
        margin-top: 5.5em;
        overflow: hidden;
        z-index: 1;
      }

      .deco {
        .filter(brightness(200));
        left: 398px;
        opacity: 1;
        top: -369px;
      }
    }

    &.deco {
      &-left {
        .press {
          left: 10%;
        }

        > .deco {
          .visible;
          //opacity: .25;
        }

        .logo {
          margin-top: 4em;
        }

        .about-company {
          .abs > .right(5.5em, 8em);
        }

        &.bright {
          .p-2 {
            .deco {
              .visible;
            }
          }
        }
      }
    }
  }

  &-news-feed,
  &-partners,
  &-tech {
    h1 {
      #border > .left(@color-active, 2px solid);
      margin: 1em 0;
      line-height: 1.35em;
      padding-left: 1em;
      text-align: left;

      a {
        .btn(@color-active);
        .pos;
        display: inline-block;
        float: right;
        font-size: .5em;
        margin-right: 1.4em;
        margin-top: .75em;
        padding: .25em .5em .25em 0;

        &:before {
          .size(1.25em);
          top: .2em;
        }
      }
    }

    .next, .prev {
      a {
        .btn-angle(@color-active, 2px solid, .75em);
        //.scale(~'.75, 1');
        &:before {
          top: 55%;
        }

        &:hover {
          color: @color-active;
        }
      }
    }
    .next {
      a {
        right: -7px;

        &:before {
          .rotate(45deg);
          right: 18px;
        }
      }
    }
    .prev {
      a {
        left: -7px;

        &:before {
          .rotate(-135deg);
          left: 18px;
        }
      }
    }
  }

  &-news-feed {
    .list-articles {
      &, & .container {
        padding: 0;
      }

      h2 {
        text-align: left;
      }
    }
  }

  &-partners {
    .slider {
      .list {
        &, & li {
          height: 200px;
        }

        > li {
          width: 32%;

          &:not(:last-child) {
            margin-right: 2%;
          }
        }

        .moved {
          margin-left: -34%;
        }
      }
    }

    .p-1 {
      height: 45%;

      .slider {
        .list {
          img {
            .abs > .middle;
            max-height: 180px;
            max-width: 230px;
            width: 100%;
          }
        }
      }
    }

    .p-2 {
      height: 55%;

      .header {
        .pos;
        display: block;
        height: 10em;

        &:after,
        &:before {
          #border > .top(@color-active, 2px solid);
          .size(1.5em);
          content: '';
          display: block;
        }

        &:after {
          .abs > .right;
          #border > .right(@color-active, 2px solid);
        }

        &:before {
          .abs > .left;
          #border > .left(@color-active, 2px solid);
        }
      }

      h2 {
        .abs > .bottom > .left;
        #border > .left(@color-active, 5px solid);
        .rgba(@black, 50%);
        color: @color-inverse;
        font-size: 1em;
        line-height: 1.35em;
        margin: .5em 0;
        padding: .5em 1em;
        width: 100%;
      }

      a {
        #block > .cover;
        display: block;
        height: 100%;
      }
    }
  }

  &-tech {
    .p-1 {
      .pos;
      .slider-set-hero;

      height: 50%;
    }

    .p-2 {
      height: 50%;

      .slider {
        .list {
          &, & li {
            height: 200px;
          }

          > li {
            width: 32%;

            &:not(:last-child) {
              margin-right: 2%;
            }
          }

          .moved {
            margin-left: -34%;
          }
        }
      }

      .header {
        .pos;
        display: block;
        height: 10em;

        &:after,
        &:before {
          #border > .top(@color-active, 2px solid);
          .size(1.5em);
          content: '';
          display: block;
        }

        &:after {
          .abs > .right;
          #border > .right(@color-active, 2px solid);
        }

        &:before {
          .abs > .left;
          #border > .left(@color-active, 2px solid);
        }
      }

      h2 {
        .abs > .bottom > .left;
        #border > .left(@color-active, 5px solid);
        .rgba(@black, 50%);
        color: @color-inverse;
        font-size: 1em;
        line-height: 1.35em;
        margin: .5em 0;
        padding: .5em 1em;
        width: 100%;
      }

      a {
        #block > .cover;
        display: block;
        height: 100%;
      }
    }
  }
}

// Forms
header.header {
  .b-search {
    text-align: left;

    form {
      padding: 0;
    }

    input[name="s"] {
      padding: 4px;
    }

    button[type="submit"] {
      #radius > .right;
      background-color: @bg-semi;
      background-image: none;

      i {
        color: @color-inverse;
      }
    }

    .a-search {
      .pointer;
    }

    nav {
      li {
        #ul > .inline;

        &:nth-child(3),
        &:nth-child(4) {
          padding-left: 1em;
        }

        &, a {
          color: @grey;
        }
      }
    }
  }
}

// Single-page
.single {
  .pos;
  margin-top: 2em;
  overflow: hidden;

  h1 {
    #border > .left(@color-active, 2px solid);
    margin: 1em 0;
    line-height: 1.35em;
    padding-left: 1em;
  }

  .body {}

  header {
    margin-bottom: 1em;
    overflow: hidden;
  }

  time {
    background-color: @color-active;
    color: @color-inverse;
    display: inline-block;
    float: right;
    font-size: .8em;
    margin: 0 0 2em 2em;
    padding: 0 .5em;
  }
}

// Scroll & resize
body {
  &.scrolled {
    padding-top: 4em;

    .container {
      &.menu {
        z-index: -1;
      }
    }

    header.header {
      .box-shadow(0 2px 3px rgba(0, 0, 0, .25));
      .fix > .center;
      height: 2em!important;
      padding-top: .125em;

      .logo {
        float: left;
        margin: 0;
        width: auto;

        &-title {
          &-name {
            font-size: 1em;
          }
          &-motto {
            .hide;
          }
        }
        &-img {
          .hide;
        }
      }

      .nav-main {
        border: 0;
        font-size: .85em;
        margin: 0;

        .ul {
          &-main {
            li {
              &:first-child {
                &:before {
                  content: none;
                }
              }
            }
          }

          &-helper {
            .abs > .right(-24px, 46px);
            .box-shadow;
          }
        }

        li {
          font-size: .75em;

          &:before {
            .icon;
            .pos > .left(@top: -.75em);
            color: @color-active;
            font-size: .25em;
            content: @fa-var-circle;
            margin-right: 4em;
          }

          a {
            color: @grey!important;
          }
        }
      }

      .b-search {
        .abs > .right;
        .size(initial);
        font-size: 15px;
        left: initial;

        form {
          .hide;
        }

        .a-search {
          .visible(inline-block);
          margin-right: 1em;
        }

        nav {
          font-size: .85em;
          margin-top: .25em;

          li {
            border: 0!important;
            padding-left: 0;

            &:nth-child(3),
            &:nth-child(4) {
              #border > .left;
              margin-left: 1em;
            }
          }

          span {
            .hide;
          }

          i {
            .visible;
          }
        }

        &.active {
          form {
            .abs > .right;
            .box-shadow;
            .visible(block);
            background-color: @body-bg-color;
          }

          .a-search {
            color: @color-active!important;

            &:before {
              content: @fa-var-times;
            }
          }
        }
      }
    }

    .vp {
      &-mx {
        header.header {
          .nav-main {
            .ul-helper {
              top: 58px;
            }
          }
        }
      }

      &-lg {
        header.header {
          .nav-main {
            .ul-helper {
              top: 50px;
            }
          }
        }
      }
    }
  }

  &:not(.scrolled) {
    .container {
      &.menu {
        //max-width: none;
      }
    }

    header.header {
      height: 100%;

      /*&:before{
        @c: @grey-light;
        .abs > .bottom > .center;
        #gradient > .vertical(rgba(red(@c), green(@c), blue(@c), 0), rgba(red(@c), green(@c), blue(@c), .35));
        .size(100%, 15%);
        content: '';
        display: block;
        z-index: 0;
      }*/

      .logo {
        margin-top: 5em;
        .scale(1.25);
      }

      .container.menu {
        .abs > .bottom > .center(2.5%);
      }

      .b-search {
        top: .75em;
      }

      .nav-main {
        li {
          font-size: 18px;

          a {
            color: #666!important;
            font-size: 14px;
            text-transform: uppercase;
          }
        }

        .ul {
          &-main {
            li {
              padding-bottom: .125em;
              padding-top: .125em;

              &:first-child {
                padding-left: 0;
              }
              &:not(:first-child) {
                #border > .left(@color-active);
              }
            }
          }

          &-helper {
            .abs > .bottom > .right(0, 46px);
            .box-shadow(-5px -5px 5px rgba(0, 0, 0, .25));
          }
        }
      }
    }
  }
}

.vp {
  &-mx,
  &-lg,
  &-md,
  &-sm {
    [class^=topic-excerpt] {
      &:not(.active) {
        min-height: 21em;
      }
    }

    [class^=topic-pins-] {
      .body {
        padding: 1em 1em 0 1em;
      }
    }

    footer.footer {
      .logo-img {
        margin-right: 1em;
      }
    }
  }

  &-mx,
  &-lg,
  &-md {
    [class^=topic-excerpt] {
      padding-bottom: 1.5em;

      .body {
        margin-bottom: 1em;
      }
    }

    [class^=topic-pins-] {
      article {
        .box-shadow(0 0 0 -.25em rgba(0, 0, 0, .3));
        .transition;

        &:hover {
          .box-shadow(0 0 1em -.25em rgba(0, 0, 0, .3));
        }
      }

      .body {
        .border;
        border-top: 0;
        height: 16.5em;
        padding-bottom: 1em;
      }

      .read-more {
        &:after {
          @h: 6em;
          .abs > .bottom > .center;
          #gradient > .vertical(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), 0%, 70%);
          content: '';
          display: block;
          height: @h;
        }
      }
    }

    .list-articles {
      margin-top: 4em!important;
      padding: 0 1em;

      article {
        &:not(:last-child){
          margin-bottom: 4em;
        }
      }

      .thumbnail {
        .circle;
        float: right;
        margin-left: 3em;
      }

      time {
        float: right;
        margin: 0 0 2em 2em;
      }

      h2 {
        padding-left: 1em;
      }
    }
  }

  &-mx,
  &-lg {
    header.header {
      .b-search {
        .abs > .right(@top: 4.5em);
        font-size: 15px;

        .a-search {
          .hide;
        }

        nav {
          font-size: 12px;
          line-height: 1.5em;
          margin-top: .5em;

          i {
            .hide;
          }

          li {
            &:nth-child(3),
            &:nth-child(4) {
              margin-left: 1em;

              &:before {
                .icon;
                .pos > .left(@top: -.75em);
                color: @color-active;
                font-size: .25em;
                content: @fa-var-circle;
                margin-right: 4em;
                margin-left: -4em;
              }
            }
          }
        }
      }
    }

    [class^=topic-excerpt] {
      .inner {
        min-height: 15.5em;
        padding: 2em 2em 1em 1em;

        &:before {
          #border > .right(@color-active, 2px solid);
          #border > .top(@color-active, 2px solid);
          .abs > .right(-4px, -4px);
          .size(3.5em);
          content: '';
          display: block;
        }
      }
    }

    .topic {
      &-excerpt {
        .body {
          margin-left: 9.25em;
        }

        .thumbnail {
          .box-shadow(0 0 0 15px inset rgba(0, 0, 0, .2));
          .circle;
          float: left;
        }

        &.active {
          .container {
            margin-bottom: 3em;
            margin-top: 3em;
          }

          .inner {
            border-top-left-radius: 3em;
            padding-left: 13em;
          }

          .thumbnail {
            .hide;
          }
        }
      }

      &-content {
        .container {
          .pos;
          margin-bottom: -3em;
          top: -3em;
        }

        .thumbnail {
          .box-shadow(0 0 0 10px inset rgba(0, 0, 0, .2));
          .pos > .left(-3em, -9.5em);
          .radius(20% 0 0 0);
          .size(15em);
          float: left;
          margin-bottom: -8.5em;
          margin-right: -1em;
        }

        .a-view-less {
          top: -.75em;
        }

        &:not(:empty) {
          .container {
            padding: 1em 3em 1em 3em;
          }
        }
      }

      &-pins {
        &-1,
        &-2,
        &-4 {
          article {
            float: left;
            width: 49%;

            &:nth-child(odd) {
              clear: left;
              margin-right: 2%;
            }
          }
        }

        &-3,
        &-6 {
          article {
            float: left;
            width: 32%;

            &:nth-child(3n + 1),
            &:nth-child(3n + 2) {
              margin-right: 2%;
            }

            &:nth-child(3n + 1) {
              clear: left;
            }
          }
        }

        &-5,
        &-7 {
          article {
            float: left;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(6),
            &:nth-child(7) {
              width: 49%;
            }
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
              width: 32%;
            }
            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(6) {
              margin-right: 2%;
            }
            &:nth-child(3),
            &:nth-child(6) {
              clear: left;
            }
          }
        }

        &-8 {
          article {
            float: left;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8) {
              width: 32%;
            }
            &:nth-child(4),
            &:nth-child(5) {
              width: 49%;
            }
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(6),
            &:nth-child(7) {
              margin-right: 2%;
            }
            &:nth-child(4),
            &:nth-child(6) {
              clear: left;
            }
          }
        }
      }
    }

    .list-articles {
      .thumbnail {
        .box-shadow(0 0 0 15px rgba(0, 0, 0, .05) inset);
        .size(16em);
      }
    }

    .list {
      &-i-t-6 {
        li {
          float: left;
          width: 48%;

          &:nth-child(even) {
            margin-left: 4%;
          }

          &:nth-child(odd) {
            clear: left;
          }
        }

        img {
          float: left;
          max-height: 150px;
          width: 33%;
        }

        p {
          padding-left: 40%;
        }
      }
    }

    &.scrolled {
      .nav-main {
        padding: 0 6em 0 9em;
      }

      header.header {
        .b-search {
          nav {
            li {
              &:before {
                content: none;
              }
            }
          }
        }
      }
    }
  }

  &-mx {
    header.header {
      .b-search {
        input[name="s"] {
          width: 15em;
        }
      }
    }

    [class^=topic-excerpt] {
      .container {
        left: 50%;
        margin-left: -450px;
        margin-top: 3em;
        width: 1090px;
      }

      .thumbnail {
        .size(18em);
      }
    }

    .topic {
      &-excerpt {
        .thumbnail {
          margin: -3.5em 3em -4.75em -9.75em;
        }

        &.active {
          .container {
            margin-left: -550px;
            width: 1190px;
          }
        }

        &-open {
          .thumbnail {
            margin: -4em 5em 1em -13.5em;
          }
        }
      }
    }

    &.scrolled {
      header.header {
        .logo-title {
          margin-top: 2px;
        }

        .b-search {
          nav {
            line-height: 2.25em;
          }

          &.active {
            form {
              padding: 1em;
              top: 2.75em;
              width: 20em;
            }
          }
        }

        .nav-main {
          .ul-helper {
            top: 41px;
          }
        }
      }
    }

    #s {
      &-hero {
        .p-2 {
          &:after {
            height: 280px;
          }

          .inner {
            padding-left: 22em;
          }

          .slider {
            .abs > .middle;
          }

          .thumbnail {
            .size(18em);
            margin-left: -22em;
          }

          .a-view-more {
            margin-left: 12em;
          }
        }
      }

      &-tech {
        .p-1 {
          .inner {
            padding-left: 18em;
          }

          .thumbnail {
            .size(15em);
            margin-left: -18em;
          }

          .a-view-more {
            margin-left: 8em;
          }
        }
      }
    }
  }

  &-lg,
  &-md,
  &-sm {}

  &-lg {
    font-size: 20px;

    header.header {
      .b-search {
        input[name="s"] {
          width: 12.5em;
        }
      }
    }

    [class^=topic-excerpt] {
      .container {
        margin-top: 1.5em;
      }

      .thumbnail {
        .size(16em);
        margin: -1em 3em 2em 0;
      }
    }

    .topic {
      &-excerpt {
        &.active {
          .inner {
            margin-left: 4em;
          }
        }
      }
    }

    &.scrolled {
      header.header {
        .logo-title {
          margin-top: 0;
        }

        .b-search {
          nav {
            line-height: 2em;
          }

          &.active {
            form {
              padding: .75em;
              top: 2.35em;
              width: 17em;
            }
          }
        }

        .nav-main {
          .ul-helper {
            top: 37px;
          }
        }
      }
    }
  }

  &-md,
  &-sm,
  &-xs {
    font-size: 18px;

    header.header {
      .b-search {
        .pos > .center(@top: 1.5em);
        .size(16em, 6em);
        font-size: 15px;

        input[name="s"] {
          width: 12.5em;
        }

        .a-search {
          .hide;
        }

        nav {
          font-size: 12px;
          line-height: 1.5em;
          margin-top: .5em;

          i {
            .hide;
          }

          li {
            &:nth-child(3),
            &:nth-child(4) {
              #border > .left;
              margin-left: 1em;
            }
          }
        }
      }
    }

    .single {
      margin-left: 1em;
      margin-right: 1em;
    }

    .list-articles {
      .thumbnail {
        .box-shadow(0 0 0 10px rgba(0, 0, 0, .05) inset);
      }
    }

    [class^=topic-excerpt] {
      .thumbnail {
        .box-shadow(0 0 0 10px inset rgba(0, 0, 0, .2));
      }
    }

    .topic {
      &-excerpt {
        &.active {
          padding-bottom: 2em;
        }
      }

      &-content {
        .thumbnail {
          .hide;
        }

        .a-view-less {
          top: -.5em;
        }
      }
    }

    &.scrolled {
      header.header {
        .logo-title {
          margin-left: .5em;
          margin-top: 1px;
        }

        .b-search {
          right: .5em;

          input[name="s"] {
            width: 11em;
          }

          &.active {
            form {
              padding: .5em;
              top: 2em;
              width: 15em;
            }
          }
        }

        .nav-main {
          padding: 0 8em 0 9em;

          .ul-helper {
            top: 34px;
          }
        }
      }
    }
  }

  &-md,
  &-sm {}

  &-md {
    [class^=topic-excerpt] {
      .container {
        margin-top: 1.5em;
      }

      .inner {
        padding: 1em;
      }

      .thumbnail {
        .size(100%, 15em);
        margin-bottom: 2em;
      }
    }

    .topic {
      &-content {
        &:not(:empty) {
          .container {
            padding: 1em;
          }
        }
      }

      &-pins {
        &-1,
        &-2,
        &-4,
        &-6,
        &-8 {
          article {
            float: left;
            width: 49%;

            &:nth-child(odd) {
              margin-right: 2%;
            }
          }
        }

        &-3 {
          article {
            &:nth-child(1),
            &:nth-child(2) {
              float: left;
              width: 49%;
            }

            &:nth-child(1) {
              margin-right: 2%;
            }

            &:nth-child(3) {
              clear: both;

              .body {
                height: auto;
              }
            }
          }
        }

        &-5 {
          article {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(5) {
              float: left;
              width: 49%;
            }

            &:nth-child(1),
            &:nth-child(4) {
              margin-right: 2%;
            }

            &:nth-child(3) {
              clear: both;

              .body {
                height: auto;
              }
            }
          }
        }

        &-7 {
          article {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7) {
              float: left;
              width: 49%;
            }

            &:nth-child(1),
            &:nth-child(4),
            &:nth-child(6) {
              margin-right: 2%;
            }

            &:nth-child(3) {
              clear: both;

              .body {
                height: auto;
              }
            }
          }
        }
      }
    }

    .list-articles {
      .thumbnail {
        .size(10em);
      }
    }

    .list {
      &-i-t-6 {
        img {
          float: left;
          max-height: 100px;
          width: 25%;
        }

        p {
          padding-left: 35%;
        }
      }
    }
  }

  &-sm,
  &-xs {
    [class^=topic-excerpt] {
      .thumbnail {
        .size(100%, 7em);
        margin-bottom: 1em;
      }

      h1 {
        font-size: 1.5em;
      }
    }

    .topic {
      &-content {
        &:not(:empty) {
          .container {
            padding: 1em .5em;
          }
        }
      }
    }

    .list-articles {
      margin-top: 1em;

      article {
        &:not(:last-child){
          margin-bottom: 2em;
        }

        &.active {
          time {
            .pos;
            float: right;
          }
        }
      }

      .thumbnail {
        .size(100%, 10em);
      }

      time {
        .abs > .right;
      }

      header,
      .post-content,
      .post-excerpt {
        padding: 0 .5em;
      }

      h2 {
        font-size: 1.25em;
        padding-left: .5em;
      }
    }

    .nav {
      &-post {
        footer, header {
          .hide;
        }
      }
    }
  }

  &-sm {
    [class^=topic-excerpt] {
      padding-bottom: .75em;

      .inner {
        padding: .5em;
      }

      .container {
        margin-top: 1em;
      }
    }

    .list {
      &-i-t-6 {
        margin-left: 1em;
        margin-right: 1em;

        img {
          float: left;
          max-height: 100px;
          width: 40%;
        }

        p {
          padding-left: 50%;
        }
      }
    }
  }

  &-xs {
    header.header {
      .logo {
        text-align: center;

        &-title {
          display: block;
          float: inherit;
          font-size: 16px;
          text-align: center;
        }
      }
    }

    [class^=topic-excerpt] {
      .inner {
        padding-bottom: 1em;
      }

      header, .body {
        padding-left: .5em;
        padding-right: .5em;
      }

      .a-view-more {
        margin-right: 1em;
      }
    }

    [class^=topic-pins-] {
      .body {
        padding: 1em .5em 0 .5em;
      }
    }

    .list-articles {

    }

    .list {
      &-i-t-6 {
        margin-left: 1em;
        margin-right: 1em;

        li {
          text-align: center;
        }

        img {
          max-width: 200px;
          margin: 0 auto 2em auto;
          width: 100%;
        }

        p {
          text-align: left;
        }
      }
    }

    .nav {
      &-footer {
        display: block;
        margin-top: 1em;
      }

      &-services {
        font-size: .6em;
      }
    }
  }
}

// Hidden
.screen-reader-text {
  .hide;
}

// tmp
.nav-links {
  text-align: center;

  p, div {
    display: inline;
  }

  .nav-next {
    #border > .left(@color);
    margin-left: 2em;
    padding-left: 2em;
  }
}

//.topic-excerpt,
[class^=topic-pins-] {
  //.hide;
}

@keyframes bite {
  0% {
    left: 0;
  }
  50% {
    left: -2px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes bite {
  0% {
    left: 0;
  }
  50% {
    left: -2px;
  }
  100% {
    left: 0;
  }
}

@keyframes enlarge {
  0% {
    font-size: 1em;
  }
  50% {
    font-size: 1.5em;
  }
  100% {
    font-size: 1em;
  }
}
@-webkit-keyframes enlarge {
  0% {
    font-size: 1em;
  }
  50% {
    font-size: 1.5em;
  }
  100% {
    font-size: 1em;
  }
}

@keyframes shake {
  0% {
    .rotate(0deg);
  }
  25% {
    .rotate(30deg);
  }
  75% {
    .rotate(-30deg);
  }
  100% {
    .rotate(0deg);
  }
}
@-webkit-keyframes shake {
  0% {
    .rotate(0deg);
  }
  25% {
    .rotate(30deg);
  }
  75% {
    .rotate(-30deg);
  }
  100% {
    .rotate(0deg);
  }
}

.a {
  &-phone {
    &:before {
      .rotate(90deg);
    }
  }
  &-toggle {
    &:before {
      .rotate(225deg);
      .transition;
      padding-right: 2px;
    }
  }
  /*&-check-read {
    &:before {
      //content: @fa-var-check-circle-o;
    }
  }
  &-close {
    &:before {
      content: @fa-var-times-circle;
    }
  }
  &-comments {
    &:before {
      content: @fa-var-comments;
    }
  }
  &-deferred {
    &:before {
      content: @fa-var-clock;
    }
  }
  &-delete {
    &:before {
      content: @fa-var-trash;
    }
  }
  &-favorites {
    &:before {
      content: @fa-var-heart;
    }
  }
  &-info {
    &:before {
      //content: @fa-var-question-circle-o;
    }
  }
  &-list {
    &:before {
      content: @fa-var-list;
    }
  }
  &-logout {
    &:before {
      //content: @fa-var-sign-out;
    }
  }
  &-registration {
    &:before {
      content: @fa-var-key;
    }
  }
  &-sign-in {
    &:before {
      //content: @fa-var-sign-in;
    }
  }
  &-views {
    &:before {
      content: @fa-var-eye;
    }
  }*/
}

// Slider
.slider {
  .item {
    h3 {
      margin: 0;
      padding: 1em 0;
    }

    p {
      display: block;
      overflow-y: auto;
      padding: 0 1em 2em 1em;
      text-align: left;
    }
  }
}