.wp-block-media-text {

	[data-align="full"] & {
		margin-top: 0;
		margin-bottom: 0;
	}

	@include innerblock-margin-clear(".wp-block-media-text__content");

	.wp-block-media-text__content {
		padding: var(--global--spacing-horizontal);
	}

	// Block Styles
	&.is-style-almalence-border {
		border: calc(3 * var(--separator--height)) solid var(--global--color-border);
	}
}
